#one{
    margin-left: 80px;   
     font-size: 50px;
    }
    #two{
        background-color: orangered;
        color: white;
        margin-left: 80px;
        padding: 10px;
        width: 360px;
        border-radius: 6px;
    }
    #three{
        width: 1000px;
    }
    #four{
        margin-left: 80px;
    }
    #five{
       margin-top: -60px;
    }
    #six{
        margin-left: 250px;
        font-size: 20px;
    
    }
    #seven{
       margin-left: 50px;
       margin-top: 20px;
       height: 350px;
       width: 550px;
    }
    #eight{
        margin-left: 250px;
        font-size: 20px;
    }
    #nine{
        color: blue;
        margin-left: 360px;
        font-size: 20px;
    }
    #ten{
        margin-left: 250px;
        font-size: 20px;
    }
    #eleven{
        background-color: antiquewhite;
        width: 35%;
        margin-left: 250px;
        padding-left: 250px;
    }
    #hy{
        padding-top: 50px;
    }
    #to{
        float: left;
       margin-left: -180px;
       margin-top: -50px;
    
    }
    #hi{
        margin-left: 200px;
        margin-top: -50px;
    }
    #a2{
        background-color: orangered;
        color: white;
        margin-left: 10px;
        padding: 15px;
        width: 150px;
        border-radius: 6px;
        margin-top: 50px;
    }
    #a4{
        color: blue;
        margin-left: 280px;
        font-size: 20px;
        margin-top: 10px;
    }
    #a5{
        margin-left: 280px;
    }
    
    #a9{
        margin-left: 250px;
    }
    #a10{
        margin-left: 250px;
        font-size: 20px;
    }
    #ab{
       margin-bottom: -20px;
       margin-left: 200px;
    }
    #ac{
        padding-top: 30px;
    }
    #cd{
        background-color: orangered;
        color: white;
        margin-left: 5px;
        padding: 15px;
        width: 200px;
        border-radius: 6px;
        margin-top: 50px; 
    }
    #dh{
        margin-left: 250px  ;
    }
    #gh{
        margin-left: 250px;
        font-size: 20px;
    }
    #as{
        margin-left: 230px;
    }
    #ua{
        margin-left: 230px;
        font-size: 20px;
    }
    #rs{
        background-color: whitesmoke;
       width: 600px;
       height: auto;
       margin-left: 230px;
       padding: 30px;
    }
    #or{
        border: 1px solid black;
        margin: 20px;
        padding: 20px;
       
        
    }
    #ri{
        font-size: 20px;
    }
    #gl{
        margin-left: 230px;
        font-size: 40px;
    }
    #pr{
        height: 450px;
        width: 650px;
        margin-left: 230px;
    }
    #er{
        margin: 77px;
    }
    #fr{
        font-size: 20px;
    margin-left: 230px;
    }
    #b1{
        margin-left: 230px;
        font-size: 30px;
    }
    #b2{
        margin-left: 230px;
        font-size: 20px;
    }
    #b4{
        margin-left: 230px;
        font-size: 20px;
    }
    #b5{
        margin-left: 230px;
        font-size: 30px;
    }
    #gb{
        height: 500px;
        width:  650px;
        margin-left: 230px;
    }